.ProductItem {
  width: 250px;
  height: 370px;
  border: 1px solid black;
  background-color: aquas;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
  margin: 35px;
}
.ProductItem > img {
  width: 125px;
  height: 150px;
}
